[client]
port                    = 3306
default-character-set   = utf8mb4


[mysqld]
port		                = 3306
default_storage_engine  = InnoDB
performance_schema_max_table_instances = 400
table_definition_cache  = 400
skip-external-locking
key_buffer_size         = 256M
max_allowed_packet      = 100G
table_open_cache        = 1024
sort_buffer_size        = 4M
net_buffer_length       = 4K
read_buffer_size        = 4M
read_rnd_buffer_size    = 256K
myisam_sort_buffer_size = 64M
thread_cache_size       = 128
tmp_table_size          = 128M
# 替代弃用的 --skip-host-cache（MySQL 8.0+）
host_cache_size         = 0
default_authentication_plugin = mysql_native_password
lower_case_table_names  = 1
sql-mode                =NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[mysqldump]
quick
max_allowed_packet      = 500M

[mysql]
no-auto-rehash
default-character-set   = utf8mb4
